    <% @events.each do |event| %>
        <section class="event">
            <div class="summary">
                <h2><%= event.name %></h2>
                <h3><%= day_and_time(event) %> in <%= event.location %></h3>
                <span class="price">
                    <%= price(event) %>
                </span>
                <p><%= truncate(event.description, length: 35, seperator: ' ') %></p>
            </div>
        </section>
    <% end %>