<header>
  <nav>
    <%= link_to image_tag("logo"), root_path %>
    <ul class="left">
        <li>
        <%= link_to 'All Events', events_path %>
        </li>
    </ul>

    <ul class="right">
      <% if logged_in_user %>
        <li>
          <%= link_to logged_in_user.name, logged_in_user %>
        </li>
        <li>
          <%= link_to 'Sign Out', session_path, method: :delete, class: "button" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign In", new_session_path, class: "button" %>
        </li>
        <li>
          <%= link_to "Sign Up", signup_path, class: "button" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
